<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - VotingApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Voters" asp-action="Index">Voters</a></li>
                <li><a asp-controller="Candidates" asp-action="Index">Candidates</a></li>
                <li><a asp-controller="Voting" asp-action="Index">Vote</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
